/* HTML5 âœ° Boilerplate */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea { color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }


/**
 * Primary styles
  */





@font-face {
    font-family: 'junkostypewriterRegular';
    src: url('junkos_typewriter-webfont.eot');
    src: url('junkos_typewriter-webfont.eot?#iefix') format('eot'),
         url('junkos_typewriter-webfont.woff') format('woff'),
         url('junkos_typewriter-webfont.ttf') format('truetype'),
         url('junkos_typewriter-webfont.svg#webfonto6svfl8E') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'MomsTypewriterRegular';
    src: url('Moms_typewriter-webfont.eot');
    src: url('Moms_typewriter-webfont.eot?#iefix') format('eot'),
         url('Moms_typewriter-webfont.woff') format('woff'),
         url('Moms_typewriter-webfont.ttf') format('truetype'),
         url('Moms_typewriter-webfont.svg#webfontxmFwWeEV') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MirageRegular';
    src: url('Magenta_BBT-webfont.eot');
    src: url('Magenta_BBT-webfont.eot?#iefix') format('eot'),
         url('Magenta_BBT-webfont.woff') format('woff'),
         url('Magenta_BBT-webfont.ttf') format('truetype'),
         url('Magenta_BBT-webfont.svg#webfont32wjg8TS') format('svg');
    font-weight: normal;
    font-style: normal;

}

body.web1 {background:#3A5772 url('../img/grad2.png') repeat-x; margin:0px; margin-top:150px; font-family: 'Lucida Grande'; user-select: none; -moz-user-select: none; }

#web1 {width:750px; margin:0 auto;}
#web1 h1 {text-align:center; margin-bottom:50px;}
#web1 h1 img {margin:0 auto;}
#web1 input {-moz-box-shadow: 1px 1px 10px #FFF; -webkit-box-shadow: 1px 1px 10px #FFF; box-shadow: 1px 1px 10px #FFF; background:#FFF url('../img/input-grad.jpg') repeat-x; margin:0 auto; color:#8594A7; padding:10px; font-size:200%; width:700px; margin-bottom:50px; border:none;}
#web1 h2 {text-align:center; color:#FFF; font-size:150%; font-weight:normal; text-shadow: #000 0px -1px 0px;}
#web1 footer {width:700px; margin:0 auto; position:absolute; border-top:1px solid #91A1B0; font-family: Georgia,serif; color:#91A1B0; font-style:italic; font-size:120%; text-align: center; bottom:50px; padding-top:25px;}
#web1 footer img { vertical-align: middle;}


/***
 * RETRO STYLES
 */

body.web2 {
  background:#333 url('http://a3.twimg.com/profile_images/1258410074/profile-blue_reasonably_small.jpg'); margin:0px;
}
#web2 {background: url('../img/ditherheaven.gif') repeat-x; }
#web2 #topbar {background:teal; border:3px double PaleVioletRed; padding:5px; width: 500px; margin:0 auto; font-family:Verdana; font-size:10px; color:midnightblue;}
#web2 #topbar img {vertical-align: middle;}
#web2 #topbar input {width:200px;}
#web2 #info {display:block; clear:both; margin:0 auto; width:1000px; position:relative; right:-100px;}
#web2 #info .box {float:left; font-family:'Times New Roman',Times,sans-serif; position:relative; background: PeachPuff url('../img/partyhard.gif'); padding:10px; box-shadow:5px 5px 0px DarkSeaGreen ; -webkit-box-shadow:5px 5px 0px DarkSeaGreen ; -moz-box-shadow:5px 5px 0px DarkSeaGreen ; line-height:140%;}
#web2 #info img {margin:0; padding:0; border:1px solid #DDD;}
#web2 .text {padding:20px; display:block; color:#000; font-size:150%; font-family:'MomsTypewriterRegular';}
#web2 .wide {width:700px;}
#web2 .narrow {width:150px;}
#web2 .med {width:300px;}
#web2 .hits {margin: 0 auto; clear:both; margin-top:50px;}
#web2 .youtube {position:absolute; top:-9999px; left:-9999px;}

#web2 header {display:block; clear:both; padding:20px; font-family:'MirageRegular';}
#web2 header h1 {color:#FFF; font-size:700%; line-height:140%; text-align:center; margin:10px; text-shadow: -1px -1px hsl(0,100%,50%), 1px 1px hsl(5.4, 100%, 50%), 3px 2px hsl(10.8, 100%, 50%), 5px 3px hsl(16.2, 100%, 50%), 7px 4px hsl(21.6, 100%, 50%), 9px 5px hsl(27, 100%, 50%), 11px 6px hsl(32.4, 100%, 50%), 13px 7px hsl(37.800000000000004, 100%, 50%), 14px 8px hsl(43.2, 100%, 50%), 16px 9px hsl(48.599999999999994, 100%, 50%), 18px 10px hsl(54, 100%, 50%), 20px 11px hsl(59.400000000000006, 100%, 50%), 22px 12px hsl(64.8, 100%, 50%), 23px 13px hsl(70.2, 100%, 50%), 25px 14px hsl(75.60000000000001, 100%, 50%), 27px 15px hsl(81, 100%, 50%), 28px 16px hsl(86.4, 100%, 50%), 30px 17px hsl(91.80000000000001, 100%, 50%), 32px 18px hsl(97.19999999999999, 100%, 50%), 33px 19px hsl(102.60000000000001, 100%, 50%), 35px 20px hsl(108, 100%, 50%), 36px 21px hsl(113.39999999999999, 100%, 50%), 38px 22px hsl(118.80000000000001, 100%, 50%), 39px 23px hsl(124.19999999999999, 100%, 50%), 41px 24px hsl(129.6, 100%, 50%), 42px 25px hsl(135, 100%, 50%), 43px 26px hsl(140.4, 100%, 50%), 45px 27px hsl(145.8, 100%, 50%), 46px 28px hsl(151.20000000000002, 100%, 50%), 47px 29px hsl(156.6, 100%, 50%), 48px 30px hsl(162, 100%, 50%), 49px 31px hsl(167.39999999999998, 100%, 50%), 50px 32px hsl(172.8, 100%, 50%), 51px 33px hsl(178.20000000000002, 100%, 50%), 52px 34px hsl(183.60000000000002, 100%, 50%), 53px 35px hsl(188.99999999999997, 100%, 50%), 54px 36px hsl(194.39999999999998, 100%, 50%), 55px 37px hsl(199.79999999999998, 100%, 50%), 55px 38px hsl(205.20000000000002, 100%, 50%), 56px 39px hsl(210.60000000000002, 100%, 50%), 57px 40px hsl(216, 100%, 50%), 57px 41px hsl(221.39999999999998, 100%, 50%), 58px 42px hsl(226.79999999999998, 100%, 50%), 58px 43px hsl(232.20000000000002, 100%, 50%), 58px 44px hsl(237.60000000000002, 100%, 50%), 59px 45px hsl(243, 100%, 50%), 59px 46px hsl(248.39999999999998, 100%, 50%), 59px 47px hsl(253.79999999999998, 100%, 50%), 59px 48px hsl(259.2, 100%, 50%), 59px 49px hsl(264.6, 100%, 50%), 60px 50px hsl(270, 100%, 50%), 59px 51px hsl(275.4, 100%, 50%), 59px 52px hsl(280.8, 100%, 50%), 59px 53px hsl(286.20000000000005, 100%, 50%), 59px 54px hsl(291.6, 100%, 50%), 59px 55px hsl(297.00000000000006, 100%, 50%), 58px 56px hsl(302.40000000000003, 100%, 50%), 58px 57px hsl(307.79999999999995, 100%, 50%), 58px 58px hsl(313.2, 100%, 50%), 57px 59px hsl(318.59999999999997, 100%, 50%), 57px 60px hsl(324, 100%, 50%), 56px 61px hsl(329.4, 100%, 50%), 55px 62px hsl(334.79999999999995, 100%, 50%), 55px 63px hsl(340.20000000000005, 100%, 50%), 54px 64px hsl(345.6, 100%, 50%), 53px 65px hsl(351, 100%, 50%), 52px 66px hsl(356.40000000000003, 100%, 50%), 51px 67px hsl(361.8, 100%, 50%), 50px 68px hsl(367.20000000000005, 100%, 50%), 49px 69px hsl(372.59999999999997, 100%, 50%), 48px 70px hsl(377.99999999999994, 100%, 50%), 47px 71px hsl(383.4, 100%, 50%), 46px 72px hsl(388.79999999999995, 100%, 50%), 45px 73px hsl(394.20000000000005, 100%, 50%), 43px 74px hsl(399.59999999999997, 100%, 50%), 42px 75px hsl(405, 100%, 50%), 41px 76px hsl(410.40000000000003, 100%, 50%), 39px 77px hsl(415.79999999999995, 100%, 50%), 38px 78px hsl(421.20000000000005, 100%, 50%), 36px 79px hsl(426.6, 100%, 50%), 35px 80px hsl(432, 100%, 50%), 33px 81px hsl(437.40000000000003, 100%, 50%), 32px 82px hsl(442.79999999999995, 100%, 50%), 30px 83px hsl(448.20000000000005, 100%, 50%), 28px 84px hsl(453.59999999999997, 100%, 50%), 27px 85px hsl(459, 100%, 50%), 25px 86px hsl(464.40000000000003, 100%, 50%), 23px 87px hsl(469.79999999999995, 100%, 50%), 22px 88px hsl(475.20000000000005, 100%, 50%), 20px 89px hsl(480.59999999999997, 100%, 50%), 18px 90px hsl(486, 100%, 50%), 16px 91px hsl(491.40000000000003, 100%, 50%), 14px 92px hsl(496.79999999999995, 100%, 50%), 13px 93px hsl(502.20000000000005, 100%, 50%), 11px 94px hsl(507.59999999999997, 100%, 50%), 9px 95px hsl(513, 100%, 50%), 7px 96px hsl(518.4, 100%, 50%), 5px 97px hsl(523.8, 100%, 50%), 3px 98px hsl(529.2, 100%, 50%), 1px 99px hsl(534.5999999999999, 100%, 50%), 7px 100px hsl(540, 100%, 50%), -1px 101px hsl(545.4000000000001, 100%, 50%), -3px 102px hsl(550.8, 100%, 50%), -5px 103px hsl(556.2, 100%, 50%), -7px 104px hsl(561.6, 100%, 50%), -9px 105px hsl(567, 100%, 50%), -11px 106px hsl(572.4000000000001, 100%, 50%), -13px 107px hsl(577.8000000000001, 100%, 50%), -14px 108px hsl(583.2, 100%, 50%), -16px 109px hsl(588.6, 100%, 50%), -18px 110px hsl(594.0000000000001, 100%, 50%), -20px 111px hsl(599.4000000000001, 100%, 50%), -22px 112px hsl(604.8000000000001, 100%, 50%), -23px 113px hsl(610.1999999999999, 100%, 50%), -25px 114px hsl(615.5999999999999, 100%, 50%), -27px 115px hsl(620.9999999999999, 100%, 50%), -28px 116px hsl(626.4, 100%, 50%), -30px 117px hsl(631.8, 100%, 50%), -32px 118px hsl(637.1999999999999, 100%, 50%), -33px 119px hsl(642.5999999999999, 100%, 50%), -35px 120px hsl(648, 100%, 50%), -36px 121px hsl(653.4, 100%, 50%), -38px 122px hsl(658.8, 100%, 50%), -39px 123px hsl(664.2, 100%, 50%), -41px 124px hsl(669.5999999999999, 100%, 50%), -42px 125px hsl(675, 100%, 50%), -43px 126px hsl(680.4000000000001, 100%, 50%), -45px 127px hsl(685.8, 100%, 50%), -46px 128px hsl(691.2, 100%, 50%), -47px 129px hsl(696.6, 100%, 50%), -48px 130px hsl(702, 100%, 50%), -49px 131px hsl(707.4000000000001, 100%, 50%), -50px 132px hsl(712.8000000000001, 100%, 50%), -51px 133px hsl(718.2, 100%, 50%), -52px 134px hsl(723.6, 100%, 50%), -53px 135px hsl(729.0000000000001, 100%, 50%), -54px 136px hsl(734.4000000000001, 100%, 50%), -55px 137px hsl(739.8000000000001, 100%, 50%), -55px 138px hsl(745.1999999999999, 100%, 50%), -56px 139px hsl(750.5999999999999, 100%, 50%), -57px 140px hsl(755.9999999999999, 100%, 50%), -57px 141px hsl(761.4, 100%, 50%), -58px 142px hsl(766.8, 100%, 50%), -58px 143px hsl(772.1999999999999, 100%, 50%), -58px 144px hsl(777.5999999999999, 100%, 50%), -59px 145px hsl(783, 100%, 50%), -59px 146px hsl(788.4000000000001, 100%, 50%), -59px 147px hsl(793.8000000000001, 100%, 50%), -59px 148px hsl(799.1999999999999, 100%, 50%), -59px 149px hsl(804.5999999999999, 100%, 50%), -60px 150px hsl(810, 100%, 50%), -59px 151px hsl(815.4000000000001, 100%, 50%), -59px 152px hsl(820.8000000000001, 100%, 50%), -59px 153px hsl(826.1999999999999, 100%, 50%), -59px 154px hsl(831.5999999999999, 100%, 50%), -59px 155px hsl(837, 100%, 50%), -58px 156px hsl(842.4000000000001, 100%, 50%), -58px 157px hsl(847.8000000000001, 100%, 50%), -58px 158px hsl(853.2, 100%, 50%), -57px 159px hsl(858.5999999999999, 100%, 50%), -57px 160px hsl(864, 100%, 50%), -56px 161px hsl(869.4000000000001, 100%, 50%), -55px 162px hsl(874.8000000000001, 100%, 50%), -55px 163px hsl(880.1999999999999, 100%, 50%), -54px 164px hsl(885.5999999999999, 100%, 50%), -53px 165px hsl(891, 100%, 50%), -52px 166px hsl(896.4000000000001, 100%, 50%), -51px 167px hsl(901.8, 100%, 50%), -50px 168px hsl(907.1999999999999, 100%, 50%), -49px 169px hsl(912.5999999999999, 100%, 50%), -48px 170px hsl(918, 100%, 50%), -47px 171px hsl(923.4000000000001, 100%, 50%), -46px 172px hsl(928.8000000000001, 100%, 50%), -45px 173px hsl(934.1999999999999, 100%, 50%), -43px 174px hsl(939.5999999999999, 100%, 50%), -42px 175px hsl(945, 100%, 50%), -41px 176px hsl(950.4000000000001, 100%, 50%), -39px 177px hsl(955.8000000000001, 100%, 50%), -38px 178px hsl(961.1999999999999, 100%, 50%), -36px 179px hsl(966.5999999999999, 100%, 50%), -35px 180px hsl(972, 100%, 50%), -33px 181px hsl(977.4000000000001, 100%, 50%), -32px 182px hsl(982.8000000000001, 100%, 50%), -30px 183px hsl(988.2, 100%, 50%), -28px 184px hsl(993.5999999999999, 100%, 50%);}
#web2 header h2 {font-family:'Verdana'; font-style:italic; font-size:150%; margin:0 auto; color:#000; text-align: center; text-shadow: hsl(103,100%,86%) 1px 1px, hsl(103,100%,86%) 2px 2px, hsl(103,100%,86%) 3px 3px, hsl(103,100%,86%) 4px 4px, hsl(103,100%,86%) 5px 5px, hsl(103,100%,86%) 1px -1px, hsl(103,100%,86%) 2px -2px, hsl(103,100%,86%) 3px -3px, hsl(103,100%,86%) 4px -4px, hsl(103,100%,86%) 5px -5px;}
#web2 header img {margin:0px auto; vertical-align: middle;}
#web2 header input {font-size:250%; width:350px; padding:10px; margin-top:-5px; color:#EEE; background:#303030 url('../img/grad.jpg'); border:none; border:1px solid #666; line-height: 100%; font-family:'MomsTypewriterRegular'; margin:0 auto;}

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}




.modal {
		background-color:#000;
    display:none;
		width:200px;
		height: 60px;
		padding:15px;
		text-align: center;
		border:2px solid #000;
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		-moz-box-shadow: 0 0 50px #ccc;
		-webkit-box-shadow: 0 0 50px #ccc;
}
.modal h2 {
  font-size: 20px;
  font-weight: lighter;
  color: #fff;
}